<div id="footer">
	<div class="container">
		<div class="row">
			<section class="6u 12u(narrower)">
				<h3>Get In Touch</h3>
				<form action="https://formspree.io/placement@mobilitas.info" method="POST">
					<input type='hidden'  name='_subject', value='MobilitasTraining(Web) enquiry form'/>		
					<div class="row 50%">
						<div class="12u 12u(mobilep)">
							<input type="text" required name="name" id="name" placeholder="Name*" />
						</div>
						<div class="12u 12u(mobilep)">
							<input type="email" required name="email" id="email" placeholder="Email*" />
						</div>
						<div class="12u">
							<input type="tel" required name="contactNumber" placeholder="Contact Number*">
						</div>
						<div class="12u">
							<select name="course" id="course" placeholder="Please select*" required>
								<option value="" disabled selected>Please select*</option>
								<option value="work_in_germany">Work in Germany (Nursing Jobs)</option>
								<option value="study">Study nursing in Germany</option>
								<option value="business">Business Consulting</option>
							</select>
						</div>
					</div>
					<div class="row 50%">
						<div class="12u">
							<textarea name="message" required id="message" placeholder="Message" rows="5"></textarea>
						</div>
					</div>
					<div class="row 50%">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" class="button alt" value="Send Message" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>
			<section class="6u 12u(narrower) 12u$(mobilep)">
				<h3>Address</h3>
				| (Current queries are coordinated via Horizont Training UG, Germany)
				<br> <br>
				<address>
					| Horizont Training UG <br> Friedrich-Ebert- Allee 13 <br> 53113 Bonn
					<br> Germany
					<br> <br>
					<a href="tel:+49 228 9293 9179">Tel.:&nbsp;&nbsp; +49 - 228 - 9293 9179 </a>
					<br> Fax.:&nbsp;&nbsp; +49 - 228 - 9293 9101
					<br>
					<br> <a href="tel:+49-152-54279017"> Mobile :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +49 - 152 - 54279017 </a>
					<br> <a href="https://api.whatsapp.com/send?phone=4915203135902">(incl. WhatsApp :&nbsp;&nbsp; +49 - 152 - 03135902 </a>							<br>
					<div class="contact-now">
						<br>
						<strong>For India  <br></strong>
						<strong><a href="tel:+91-8943550262"> Mobile :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 8943550262 </a> <br></strong>
						<strong>Email: &nbsp;&nbsp;<a href="mailto:placement@mobilitas.info?contact">placement@mobilitas.info</a></strong>
					</div>

				</address>
				<div>
					<br>
					<strong>Training Centers from October 2017 in Ernakulam, 
						|Kottayam and other locations in Tamil Nadu.
					</strong>
				</div>
			</section>
		</div>
	</div>

	<!-- Icons -->
	<ul class="icons">
		<!--<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
	</ul>

	<!-- Copyright -->
	<div class="copyright">
		<ul class="menu">
			<img style="vertical-align:middle;" src="assets/images/logo-new-mobile.png" alt="mobilitas logo">
			<li> &copy; Mobilitas Training. All rights reserved</li>
		</ul>
	</div>

</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/ie/respond.min.js"></script>
<script src="assets/js/main.js"></script>