<head>
  <title>Welcome to Mobilitas Training | Home</title>
  <meta charset="utf-8" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="author" content="Mobilitas-Training">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--Needed to complete-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="/images/favicon.ico" />
  <meta name="description" content="Training and Placement for nurse, nurses and students to Germany to india with scholarship. Study B.Sc. and GNM  in Germany from India.">
  meta(name="keyworkds"
      content=`Nurses to Germany, Training for nurses to Germany, Training and Placement for nurses to Germany \
      , B.Sc & GNM nurses to Germany 
      , Work in Germany as a licensed nurse
      , Study Nursing in Germany
      , Nursing education in Germany for +2 completed`     
    )
  <!--http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013-->

  //- social site tag
  <link rel="canonical" href="http://mobilitas-training.com/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Training and Placement for Nurses in Germany." />
  <meta property="og:description" content="Training and Placement for nurse, nurses and students to Germany to india with scholarship. Study B.Sc. and GNM  in Germany from India." />
  <meta property="og:url" content="http://mobilitas-training.com/" />
  <meta property="og:site_name" content="mobilitas-training.com" />
  <meta property="og:image" content="http://www.mobilitas-training.com/images/study-in-germany.png  " />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Our up to the minute Bitcoin price will help you track the largest digital currency currently available. We offer bitcoin price charts, alerts and more!" />
  <meta name="twitter:title" content="Training and Placement for nurse, nurses and students to Germany to india with scholarship. Study B.Sc. and GNM  in Germany from India." />

  <!-- Go to www.addthis.com/dashboard to customize your tools --> 
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54dfa05845debce3"></script> 
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" />
  <![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" />
  <![endif]-->
</head>