extend ./layouts/base

block prepend link
  - var activePage = 'Home'

block banner
  <section id="banner">
    <header class="background-red">
      <div class="color-white font-big">
        <span>FIND YOUR WAY TO GERMANY AS A LICENSED NURSE </span>
        <a href="/work-in-germany.html" class="color-white">&nbsp;&nbsp; Click here.</a>
      </div>
    </header>
  </section>

block main
  <section class="wrapper style1">
    <div class="container">
      <div class="row 200%">
        <section class="4u 12u(narrower)">
          <div class="box highlight">
            <i class="icon major fa-medkit"></i>
            <h3>Work in Germany</h3>
            <p>A certified training program for experienced B.Sc Nursing Professionals.</p>
            <a class="font-big" href="/work-in-germany.html">Click here</a>
          </div>
        </section>
        <section class="4u 12u(narrower)">
          <div class="box highlight">
            <i class="icon major fa-university"></i>
            <h3>Study in Germany</h3>
            <p>3 year nursing education in Germany with scholarships.</p>
            <a class="font-big" href="/study-nursing-in-germany.html">Click here</a>
          </div>
        </section>
        <section class="4u 12u(narrower)">
          <div class="box highlight">
            <i class="icon major fa-handshake-o"></i>
            <h3>Horizont Training UG</h3>
            <p>Our exclusive Corporate Partner in Germany to provide a world class nursing training.</p>
            <a class="font-big" href="http://horizont-training.com/" target="blank">Click here</a>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section class="wrapper style2">
    <div class="container">
      <p class="font-big first-letter">
        |Mobilitas Training Private Limited is a consulting firm based in Kochi, India, primarily active in the area of education
        |& training, placements & job coaching, integration, business consulting etc. Through our skilled teams of professionals
        |and networks, we extend our business to Europe, especially Germany, as well as to GCC countries. In close cooperation
        |with Horizont Training UG, Bonn, Germany, our major Corporate Partner, our services are majorly in focus with BRIDGE
        |TO GERMANY programs.
      </p>
      <p class="font-bigger slogan">
        |We stand for our slogan " We For You".
      </p>
      <p class="font-big">
        |Our Approach: To organize your complete Integration Process & bridge the gap to International Employment. We will be happy
        |to assist you!
      </p>
    </div>
    </section>