extend layouts/base

block prepend link
  -var activePage = 'Study Nursing'

block banner     
  <section id="banner">
    <header class="background-red">
      <div class="color-white font-big">
        <span>FIND YOUR WAY TO GERMANY AS A LICENSED NURSE</span>
        <a href="#how-it-works" class="color-white">&nbsp;&nbsp; Click here.</a>
      </div>
    </header>
  </section>

block main
  <!-- Gigantic Heading -->
  <section class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>Study in Germany</h2>
      </header>
      <p class="font-big">  
        |Mobilitas Training Private Limited, India, is offering an INTEGRATION Program for pursuing a three year nursing degree
        |in Germany in cooperation with Horizont Training UG, a healthcare service provider based in Federal City of Bonn,
        |Germany (www.horizont-training.com). With a focus on developing skilled nursing professionals in Germany, our international
        |team is committed to assist nursing aspirants from different locations in India. 
      </p>
    </div>
  </section>

  <section class="wrapper style2">
    <div class="container">
      <header class="major">

      </header>
      <div class="row 200%">
        <section class="12u 12u(narrower) padding-top-20">
          <h3 class="text-center text-red uppercase">About the Nursing Program</h3>
          <ul class="big-li color-red">

            <li><i class="fa fa-check"></i> 3 year nursing degree program as per German Healthcare System (6 Semesters)</li>
            <li><i class="fa fa-check"></i> Course Structure as per national standards</li>
            <li><i class="fa fa-check"></i> Nursing program in orientation with old age care</li>
            <li><i class="fa fa-check"></i> No semester fee</li>
            <li><i class="fa fa-check"></i> Langauge of instruction is German</li>
            <li><i class="fa fa-check"></i> Scholarships and monthly financial support for each individual untill the course
              | completion
            </li>
            <li><i class="fa fa-check"></i> Full time work permit with all national social benefits upon course completion</li>
            <li><i class="fa fa-check"></i> Semester holidays as per national rules &amp; regulations</li>
            <li><i class="fa fa-check"></i> Complete guidance for 36 months by Horizont Training UG, Germany team.</li>
            <li><i class="fa fa-check"></i> Course starting on April 2018</li>
          </ul>

        </section>
        <section class="12u 12u(narrower) padding-top-20">
          <h3 class="text-center text-red uppercase">A perfect candidate for us who can apply for the program</h3>
          <ul class="big-li color-red">
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Mandatory higher secondary education (+2) or an equivalent
              | education</li>
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Minimum age of 18 years or above</li>
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Sufficient computer skills (MS Office, Email etc.)</li>
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Eligible to apply for a German Visa</li>
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Willingness to acquire mandatory B2 German Language skills</li>
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Mandatory participation in Horizont Training UG Certified
              | Intergration Program</li>
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Willigness to commit to the course duration of 36 months
              | with the Future Nursing School or Institution</li>
            <li> <i class="fa fa-hand-o-right" aria-hidden="true"></i> Ready to take up the challenge and meet primary financial
              | expenses</li>

          </ul>
        </section>
        <section class="12u 12u(narrower) padding-top-20">
          <ul class="big-li">
            <h3 class="text-center text-red uppercase">Our offer for you in detail</h3>
            <ul class="big-li color-red">
              <li><i class="fa fa-star-o" aria-hidden="true"></i> A clear Orientation about our Program</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Support and guidance to reach the mandatory Language Requirements</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Candidate Profiling &amp; Preparatory Sessions</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Training for successful Integration Process</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Training for Job Interview</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Coordination of the candidateship</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Admission to higly reputed Nursing schools or Institutions</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Assistance for receival of monthly financial support during the course period</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Assistance in Visa Processing</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Coordination of Pre-departure & Arrival in Germany</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Assistance for finding accomodation in Germany</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Assistance for finding best Health Insurance, Banking,
                | and Telephone Partners</li>
              <li><i class="fa fa-star-o" aria-hidden="true"></i> Further personal assistance & guidance in Germany up to 36 months untill the completion of course</li>
            </ul>
          </ul>
        </section>

      </div>
    </div>
  </section>

  <section class="wrapper style1">
    <div class="container" id="how-it-works">
      <h2 class="text-center">For a Candidate: How it functions</h2>
      <div class="row border-working">					
        <div class="2u 4u(narrower) text-center">
          <div class="header"><img src="/images/icons/icon-form.png" alt="Resgistration and condidate profiling"></div>
          <div class="link"> <i class="fa fa-long-arrow-down"></i>			</div>
          <div class="content">
            | Registration <br>		 &amp; <br> Candidate Profiling
          </div>
        </div>
        <div class="2u 4u(narrower) text-center">
          <div class="header"><img src="/images/icons/icon-teacher.png" alt="Training and certification"></div>
          <div class="link"> <i class="fa fa-long-arrow-down"></i>			</div>
          <div class="content">
            | Training <br>	 &amp; <br> Certification
          </div>
        </div>

        <div class="2u 4u(narrower) text-center">
          <div class="header"><img src="/images/icons/icon-degree.png" alt="visa processing"></div>
          <div class="link"> <i class="fa fa-long-arrow-down"></i>			</div>
          <div class="content">
            | Recognition <br>&amp; <br> StudentShip
          </div>
        </div>
        <div class="2u 4u(narrower) text-center">
          <div class="header"><img src="/images/icons/icon-university.png" alt="job interview and placements"></div>
          <div class="link"> <i class="fa fa-long-arrow-down"></i>			</div>
          <div class="content">
            |  Visa processing
            <br>	 &amp; <br> Admission <br> <br> 
          </div>
        </div>
        <div class="2u 4u(narrower) text-center">
          <div class="header"><img src="/images/icons/icon-link.png" alt="deployment and itegration"></div>
          <div class="link"> <i class="fa fa-long-arrow-down"></i>			</div>
          <div class="content">
            |Deployment <br>	&amp; <br> Integration
          </div>
        </div>
      </div>

      <div style="clear:both;"></div>

      <p class="font-big" style="margin-top: 1em;">
        |The registration for next batch, from
        <time>July 2017</time> onwards in our corporates centers in Kochi, Kottayam, Chennai.
      </p>
    </div>
  </section>

