extend ./layouts/base

block prepend link
	- var activePage = 'Work in Germany'

block banner
	<section id="banner">
		<header class="background-red">
			<div class="color-white font-big">
				<span>FIND YOUR WAY TO GERMANY AS A LICENSED NURSE </span>
				<a href="/work-in-germany.html" class="color-white">&nbsp;&nbsp; Click here.</a>
			</div>
		</header>
	</section>

block main
	<section class="wrapper style1">
		<div class="container">

			<header class="major">
				<h2>Work in Germany</h2>
			</header>
			<p class="font-big">Mobilitas Training Private Limited, India, is offering a CERTIFIED TRAINING & INTERGRATION Program for experienced B.Sc.
				|Nursing Professionals in cooperation with Horizont Training UG, a healthcare service provider based in Federal City
				|of Bonn, Germany (www.horizont-training.com).
			</p>
			<p class="font-big">
				|With a focus on integrating high quality nursing skills from India to Germany, our international team is committed to train
				|and assist licensed & experienced nursing professionals from different locations in India (Kochi, Kottayam, Chennai,
				|Delhi & Mumbai).
			</p>

		</div>
	</section>

	<section class="wrapper style2">
		<div class="container">
			<div class="row 200%">
				<section class="6u 12u(narrower) padding-top-20">
					<h3 class="text-red uppercase">Who you are</h3>
					<ul class="big-li color-red">
						<li><i class="fa fa-hand-o-right" aria-hidden="true"></i> A Bachelor Degree in Nursing (B.Sc. as per Indian Nursing Council)</li>
						<li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Minimum 2 years of work experience</li>
						<li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Sufficient computer skills (MS Office, Email etc.)</li>
						<li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Eligible to apply for a German Visa</li>
						<li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Mandatory participation in our Certified Training and Intergration
							Program.
						</li>
						<li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Willigness to commit to the Future Employer for a minimum period
							of time</li>
						<li><i class="fa fa-hand-o-right" aria-hidden="true"></i> Ready to take up the challenge and financial expenses</li>
					</ul>

				</section>
				<section class="6u 12u(narrower) padding-top-20">
					<h3 class="text-red uppercase">How we proceed</h3>
					<ul class="big-li color-red">
						<li><i class="fa fa-check" aria-hidden="true"></i> Intial Screening &amp; Registration</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Verification Process &amp; Candidate Profiling</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Evaluation of German Language Skills</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Integration Training &amp; Preparatory Sessions</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Horizont Training UG Certification</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Job Interviews with the employer</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Recognition and Licensing Process</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Visa Processing &amp; Work Permit</li>
						<li><i class="fa fa-check" aria-hidden="true"></i> Deployment &amp; Integration</li>
					</ul>
				</section>
				<section class="12u padding-top-20">
					<ul>
						<h3 class="text-center text-red uppercase">Our offer for you in detail.</h3>
						<ul class="big-li color-red">
							<li><i class="fa fa-star-o" aria-hidden="true"></i> A clear Orientation about our Program</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Support and guidance to reach the mandatory Language Requirements</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Candidate Profiling &amp; Preparatory Sessions</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Training for successful Integration Process (Adaptation Course; Application
								|for Equivalence Test etc.)</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Horizont Training UG Certification (after passing the exam, each
								|candidate receives a certificate)</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Training for Job Interview</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Mediation to higly reputed Employers and best Salary Packages in
								|the market</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Recognition Procedure (Qualifications &amp; Work Experience)</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Assistance in Visa Processing &amp; Work Permit</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Coordination of Pre-departure &amp; Arrival in Germany</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Assistance for finding accomodation in Germany</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Assistance for finding best Health Insurance-, Banking-, and Telephone
								Partners
							</li>
							<li><i class="fa fa-star-o" aria-hidden="true"></i> Further personal assistance up to 6 months from the arrival date
								|in Germany (including Emigrant Registration Rules, added courses as per German Healthcare Standards)</li>
						</ul>
					</ul>
				</section>

			</div>
		</div>
	</section>

	<section class="wrapper style1">
		<div class="container" id="how-it-works">
			<h2 class="text-center">For a Candidate: How it works</h2>
			<div class="row border-working">
				<div class="2u 4u(narrower) text-center">
					<div class="header"><img src="/images/icons/icon-form.png" alt="Resgistration and condidate profiling"></div>
					<div class="link"> <i class="fa fa-long-arrow-down"></i> </div>
					<div class="content">
						|Registration <br> &amp; <br> Candidate Profiling
					</div>
				</div>
				<div class="2u 4u(narrower) text-center">
					<div class="header"><img src="/images/icons/icon-teacher.png" alt="Training and certification"></div>
					<div class="link"> <i class="fa fa-long-arrow-down"></i> </div>
					<div class="content">
						|Training <br> &amp; <br> Certification
					</div>
				</div>
				<div class="2u 4u(narrower) text-center">
					<div class="header"><img src="/images/icons/icon-desk.png" alt="job interview and placements"></div>
					<div class="link"> <i class="fa fa-long-arrow-down"></i> </div>
					<div class="content">
						|Job Interview <br> &amp; <br> Placements <br> <br>
					</div>
				</div>
				<div class="2u 4u(narrower) text-center">
					<div class="header"><img src="/images/icons/icon-degree.png" alt="visa processing"></div>
					<div class="link"> <i class="fa fa-long-arrow-down"></i> </div>
					<div class="content">
						|Recognition, Licensing <br> &amp; <br> Visa Processing
					</div>
				</div>
				<div class="2u 4u(narrower) text-center">
					<div class="header"><img src="/images/icons/icon-link.png" alt="deployment and itegration"></div>
					<div class="link"> <i class="fa fa-long-arrow-down"></i> </div>
					<div class="content">
						|Deployment <br> &amp; <br> Integration
					</div>
				</div>
			</div>

			<div style="clear:both;"></div>

			<p class="font-big" style="margin-top: 1em;">
				|The registration for next batch, from
				|<time>July 2017</time> onwards in our corporates centers in Kochi, Kottayam, Chennai.
			</p>
		</div>
	</section>

